*{
    box-sizing: border-box;
}

body{
    background-color: #eceff180;
}
.logo{
    display: block;
    margin: auto;
    width: 50px;
    padding-bottom: 10px;
}

.container{
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin:auto; 
    border-radius: 5px;
    
}

.content{
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

.message{
    margin: 1px 5px;
    margin-bottom: 8px;
    max-width: 70%;
    color: rgb(103, 97, 97);
}

.posLeft{
    float: left;
    clear: both;
}

.left{
    padding: 10px;
    float: left;
    border-radius: 10px 10px 10px 0px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #4bdeff;
    margin-bottom: 8px;
}

.label{
    font-weight: bold;
    font-size: 14px;
    color: rgb(55 65 81);
}

.posRight{
    float: right;
    clear: both;
}

.right{
    padding: 10px;
    float: right;
    border-radius: 10px 10px 0px 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #66ff99;
    margin-bottom: 8px;
}

#send-container{
    position : relative;
    margin: auto;
    max-width:1070px;
    width: 100%;
    text-align: center;
    padding: 5px;
    padding-top: 0;
}

#msg-inp{
    width:100%;
    height: 40px;
    font-size: 15px;
    margin:0;
    border: none;
    padding-left: 6px;
    padding-right: 40px;
    border-radius: 4px;
    background-color: rgb(229 231 235);
    color: rgb(55 65 81);
}

.btn{
    position: absolute;
    right: 8px;
    top: 3px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    background-color: rgb(55 65 81);
    font-weight: bold;
    border-radius:4px;
    font-size: large;
}